@model IEnumerable<HotelHenry.Models.Reservacion>

@{
	ViewData["Title"] = "ReservasMes";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
	<h1 style="margin-top:120px;" class="text-center">Reservas del Mes</h1>

	<table class="table table-striped mt-5" id="tabla">
		<thead>
			<tr>
				<th>
					Cliente
				</th>
				<th>
					Fecha de Ingreso
				</th>
				<th>
					Fecha de Salida
				</th>
				<th>
					Habitaciones reservadas
				</th>
				<th>Tipo habitación</th>
				<th>
					Total pagado
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Reservacion item in ViewBag.ListaRes)
			{

				DateTime fecha = item.FechaIngreso;

				if (fecha.Month == DateTime.Now.Month && fecha.Year == DateTime.Now.Year)
				{
					<tr>
						@foreach (Usuario user in ViewBag.Clientes)
						{
							if (user.Correo == item.Correo.Correo)
							{
								<td>@user.Nombre @user.Apellidos</td>
							}
						}
						<td>
							@item.FechaIngreso.ToString("dd/MM/yyyy")
						</td>
						<td>
							@item.FechaSalida.ToString("dd/MM/yyyy")
						</td>
						<td>
							@item.CantHabitaciones
						</td>
						@foreach (Habitacion h in ViewBag.Tipo)
						{
							if (h.IdHabitacion == item.TipoHabitacion.IdHabitacion)
							{
								<td>@h.Tipo</td>
							}
						}
					<td id="pago">
						@String.Format("{0:0}", @item.CostoTotal)
					</td>
					</tr>
				}

			}
		</tbody>
	</table>
</div>

<div class="container text-right mt-5">
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th>Tipo de habitación</th>
				<th>Ingresos</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Estándar</td>
				<td id="estandar"></td>
			</tr>
			<tr>
				<td>Junior</td>
				<td id="junior"></td>
			</tr>
			<tr>
				<td>Deluxe</td>
				<td id="deluxe"></td>
			</tr>
		</tbody>
	</table>

	<h2 class="mb-5">Total ingresos del mes: <span id="total" style="font-weight:bold"></span></h2>
</div>

<!--Suma el total de ingresos del mes-->
<script>
	var tabla = document.getElementById("tabla");
	var total = 0;
	var estandar = 0;
	var junior = 0;
	var deluxe = 0;

	for (var i = 1; tabla.rows[i]; i++) {
		if (tabla.rows[i].cells[4].innerHTML == "Estándar")
			estandar += Number(tabla.rows[i].cells[5].innerHTML)

		if (tabla.rows[i].cells[4].innerHTML == "Junior")
			junior += Number(tabla.rows[i].cells[5].innerHTML)

		if (tabla.rows[i].cells[4].innerHTML == "Deluxe")
			deluxe += Number(tabla.rows[i].cells[5].innerHTML)

		total += Number(tabla.rows[i].cells[5].innerHTML);
	}

	document.getElementById("total").innerHTML = "$" + total;
	document.getElementById("estandar").innerHTML = "$" + estandar;
	document.getElementById("junior").innerHTML = "$" + junior;
	document.getElementById("deluxe").innerHTML = "$" + deluxe;
</script>